.chart {
  padding: 3px;
  margin-left: 50px;

  div {
    width: 0;
    transition: all 1s ease-out;

    font: 12px sans-serif;
    background-color: steelblue;
    text-align: right;
    white-space: nowrap;
    padding: 3px;
    margin: 5px;
    color: white;
    box-shadow: 2px 2px 2px #666;
  }
}

button.man-mode {
  position: relative;
  z-index: 1;
  outline: 0 none;
}

.bubbles-chart {
  transform: scale(0.32);
  transform-origin: top left;

  width: 320px; /* 1000*0.32 */
  height: 304px; /* 950*0.32 */
  margin: 0 auto;

  svg.bubbles {
    width: 1000px;
    height: 950px;
    padding-left: 50px; /* svg groups are moved 50px left to match their center with the rect's center */
    margin-top: -65px; /* bubbles are mostly horizontal and we get dead space on top */
  }

  /* no CSS styling inside the svg object, we want it to be downloadable */
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .bubbles-chart {
    transform: scale(0.64);
    width: 640px; /* 1000*0.64 */
    height: 608px; /* 950*0.64 */
  }
}
/* Responsive: Desktop */
@media screen and (min-width: 1200px) {
  .bubbles-chart {
    transform: none;
    width: 1000px;
    height: 950px;
  }
}
