.chart {
  padding: 3px;
  margin-left: 50px;

  div {
    width: 0;
    transition: all 1s ease-out;

    font: 12px sans-serif;
    background-color: steelblue;
    text-align: right;
    white-space: nowrap;
    padding: 3px;
    margin: 5px;
    color: white;
    box-shadow: 2px 2px 2px #666;
  }
}

.bubble {
  width: 1000px;
  padding-left: 50px;
  height: 900px;
  margin: -65px auto -35px;

  button {
    margin-top: 65px;
  }

  g {

    &.rank-1 rect {
      fill: #ffd741;
    }
    &.rank-2 rect {
      fill: #7e7c7d;
    }
    &.rank-3 rect {
      fill: #d96e38;
    }

    a:hover {
      text-decoration: none;
    }

    text {
      font-weight: bold;
      font-variant: small-caps;
      text-shadow: 0 0 1px black, 0 0 3px black, 0 0 4px black;
      pointer-events: none;
    }
  }

}
