
div.top10 {
  position: relative;
  min-height: 180px;

  h3 {
    transform: rotate(-90deg);
    transform-origin: bottom left;
    position: absolute;
    left: 40px;
    bottom: 0;
    width: 180px;

    color: #555;
    background: #eee;
    text-align: center;
  }
}

leaderboard {

  ul {
    list-style: none;
    padding-left: 50px;

    li {
      position: relative;
      display: inline-block;
      width: 85px;
      height: 85px;
      margin-left: 5px;
      vertical-align: bottom;
      margin-bottom: 5px;
      overflow: hidden;

      &:hover {
        overflow: visible;
      }
      img {
        max-width: 100%;
        width: 85px;
        height: 85px;
      }
      &:hover img {
        box-shadow: 0px -2px 4px rgba(127,123,124,0.8);
        color: white;
        background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
      }
      h4 {
        text-align: left;
        box-sizing: border-box;
        width: 100%;
        padding: 3%;
        position: absolute;
        bottom: 0px;
        margin: 0;

        color: white;
        font-weight: bold;
        line-height: 0.6em;
        text-shadow: 0 0 1px black, 0 0 3px black, 0 0 4px black;

        small {
          color: white;
          font-size: 0.6em;
        }
      }
    }

    li:nth-child(1) {
      width: 180px;
      height: 180px;
      border-bottom: 8px solid #ffd741;
      transition: transform 0.1s ease-in;

      img {
        width: 180px;
        height: 180px;
      }

      h4 {
        font-size: 2.2em;

        small {
          font-weight: bold;
          font-size: 0.6em;
        }
      }

      &:hover {
        transform: skew(20deg, 10deg);
      }
    }

    li:nth-child(2) {
      width: 130px;
      height: 130px;
      margin-left: 15px;
      border-bottom: 5px solid #7e7c7d;

      img {
        width: 130px;
        height: 130px;
      }

      h4 {
        font-size: 1.8em;

        small {
          font-weight: bold;
          font-size: 0.6em;
        }
      }

      &:hover {
        transform: skew(-10deg, 10deg);
      }
    }

    li:nth-child(3) {
      margin-left: 10px;
      width: 100px;
      height: 100px;
      border-bottom: 5px solid #d96e38;

      img {
        width: 100px;
        height: 100px;
      }

      h4 {
        font-size: 1.4em;

        small {
          font-weight: bold;
          font-size: 0.6em;
        }
      }

      &:hover {
        transform: skew(5deg, -5deg);
      }
    }
  }
}
