
body {
  padding: 0;
}

section {
  margin: 20px 0px;
}

/* we can't rely on empty href to style those */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

h1, h2, h3 {
  font-variant: small-caps;

  .no-variant {
    font-variant: normal;
  }
}

/* accessibility comes second it seems */
a {
  outline: none !important;
}

h1 {
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
  border-bottom: 2px solid #e5e5e5;
  position: relative;
  z-index: 1;

  &:hover b {
    color: #027d08;
  }
  &:hover b + b {
    color: #fbce01;
  }
  &:hover b + b + b {
    color: #fa0318;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

/* Responsive: Desktop */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
