
blockquote {
  position: relative;
  line-height: 20px;

  div.disclaimer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-variant: small-caps;
    color: rgba(0,0,0,0.04);
    font-size: 12px;
    width: 30%;
    text-align: right;
  }
}
