<section class="stats">

  <h1><span>{{ title }}</span></h1>

  <div class="row">

    <div class="col-lg-4 col-md-6 col-sm-12">

      <h2 class="category"><span>Cancer King</span></h2>

      <div class="statistic">
        <big count-to="{{ stats.total.cancer.value }}" value="0" duration="1" filter="number"></big>
        <span rank-badge rank="stats.total.cancer.rank"></span>
        <br><b>cancer points</b>
      </div>

      <div class="statistic">
        <big count-to="{{ stats.minute.cancer.value }}" value="0" duration="1" filter="number"></big>
        <span rank-badge rank="stats.minute.cancer.rank"></span>
        <br><b>burst</b> record at {{ stats.minute.cancer.date | date : 'shortTime' }} (UTC) on {{ stats.minute.cancer.date | date : 'shortDate' }}
      </div>

      <div class="statistic">
        <big count-to="{{ stats.average.cancer.value }}" value="0" duration="1" filter="number"></big>
        <span rank-badge rank="stats.average.cancer.rank"></span>
        <br><b>cancer points per minute</b> on average
      </div>

    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">

      <h2 class="category"><span>Spam King</span></h2>

      <div class="statistic">
        <big count-to="{{ stats.total.messages.value }}" value="0" duration="1" filter="number"></big>
        <span rank-badge rank="stats.total.messages.rank"></span>
        <br><b>messages</b>
      </div>

      <div class="statistic">
        <big count-to="{{ stats.minute.messages.value }}" value="0" duration="1" filter="number"></big>
        <span rank-badge rank="stats.minute.messages.rank"></span>
        <br><b>burst</b> record at {{ stats.minute.messages.date | date : 'shortTime' }} (UTC) on {{ stats.minute.messages.date | date : 'shortDate' }}
      </div>

      <div class="statistic">
        <big count-to="{{ stats.average.messages.value }}" value="0" duration="1" filter="number"></big>
        <span rank-badge rank="stats.average.messages.rank"></span>
        <br><b>messages per minute</b> on average
      </div>

    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">

      <h2 class="category"><span>Cancer Master</span></h2>

      <div class="statistic">
        <big count-to="{{ stats.total.cpm.value }}" value="0" duration="1" filter="number" params="2"></big>
        <span rank-badge rank="stats.total.cpm.rank"></span>
        <br><b>cancer points per message</b>
      </div>

      <div class="statistic">
        <big count-to="{{ stats.minute.cpm.value }}" value="0" duration="1" filter="number" params="2"></big>
        <span rank-badge rank="stats.minute.cpm.rank"></span>
        <br><b>burst</b> record at {{ stats.minute.cpm.date | date : 'shortTime' }} (UTC) on {{ stats.minute.cpm.date | date : 'shortDate' }}
      </div>

    </div>

  </div>

</section>
