<section class="stats">

  <h1><span>{{ metricTitle }}</span></h1>

  <div class="row">

    <div class="col-lg-4 col-md-6 col-sm-12">
      <h2 class="category"><span ng-bind-html="'daily' | horizon"></span></h2>

      <metric-stats stats="stats.daily" metric="metric" metric-name="metricName"></metric-stats>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <h2 class="category"><span ng-bind-html="'monthly' | horizon"></span></h2>

      <metric-stats stats="stats.monthly" metric="metric"  metric-name="metricName"></metric-stats>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <h2 class="category"><span ng-bind-html="'all' | horizon"></span></h2>

      <metric-stats stats="stats.all" metric="metric" metric-name="metricName"></metric-stats>
    </div>

  </div>

</section>
