
<section class="profile">
  <h1 class="no-variant">{{ profile.display_name }}</h1>

  <div class="row">

    <div class="logo col-lg-4 col-md-6 col-sm-12">
      <a ng-href="{{ profile.url }}" target="_blank" title="open stream in a new tab">
        <img ng-src="{{ profile.logo }}" width="300px" height="300px"></img>
      </a>
    </div>

    <div class="col-lg-8 col-md-6 col-sm-12">
      <div class="statistic">
        <big count-to="{{ stats.total.duration.value / 60 }}" value="0" duration="1" filter="number"></big>
        hours <b tooltip="only streams from the top 100 and with more than 1000 viewers are monitored at any given time">recorded</b> since
        {{ stats.total.since | date }}
        <span rank-badge rank="stats.total.duration.rank"></span>
      </div>

      <div class="statistic">
        <big count-to="{{ profile.followers }}" value="0" duration="1" filter="number"></big>
        followers
      </div>

      <div class="statistic">
        Roleplays <big>{{ profile.game }}</big>
      </div>
    </div>

  </div>
</section>

<section class="stats">
  <div class="row">

    <div class="col-lg-4 col-md-6 col-sm-12">

      <h1 class="category">Cancer King</h1>

      <div class="statistic">
        <big count-to="{{ stats.total.cancer.value }}" value="0" duration="1" filter="number"></big>
        <span rank-badge rank="stats.total.cancer.rank"></span>
        <br>cancer points in total
      </div>

      <div class="statistic">
        <big count-to="{{ stats.minute.cancer.value }}" value="0" duration="1" filter="number"></big>
        <span rank-badge rank="stats.minute.cancer.rank"></span>
        <br>burst record at {{ stats.minute.cancer.date | date : 'shortTime' }} (UTC) on {{ stats.minute.cancer.date | date : 'shortDate' }}
      </div>

      <div class="statistic">
        <big count-to="{{ stats.average.cancer.value }}" value="0" duration="1" filter="number"></big>
        <span rank-badge rank="stats.average.cancer.rank"></span>
        <br>cancer points per minute on average
      </div>

    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">

      <h1 class="category">Spam King</h1>

      <div class="statistic">
        <big count-to="{{ stats.total.messages.value }}" value="0" duration="1" filter="number"></big>
        <span rank-badge rank="stats.total.messages.rank"></span>
        <br>messages in total
      </div>

      <div class="statistic">
        <big count-to="{{ stats.minute.messages.value }}" value="0" duration="1" filter="number"></big>
        <span rank-badge rank="stats.minute.messages.rank"></span>
        <br>burst record at {{ stats.minute.messages.date | date : 'shortTime' }} (UTC) on {{ stats.minute.messages.date | date : 'shortDate' }}
      </div>

      <div class="statistic">
        <big count-to="{{ stats.average.messages.value }}" value="0" duration="1" filter="number"></big>
        <span rank-badge rank="stats.average.messages.rank"></span>
        <br>messages per minute on average
      </div>

    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">

      <h1 class="category">Cancer Master</h1>

      <div class="statistic">
        <big count-to="{{ stats.total.cpm.value }}" value="0" duration="1" filter="number" params="2"></big>
        <span rank-badge rank="stats.total.cpm.rank"></span>
        <br>cancer points per message in total
      </div>

      <div class="statistic">
        <big count-to="{{ stats.minute.cpm.value }}" value="0" duration="1" filter="number" params="2"></big>
        <span rank-badge rank="stats.minute.cpm.rank"></span>
        <br>burst record at {{ stats.minute.cpm.date | date : 'shortTime' }} (UTC) on {{ stats.minute.cpm.date | date : 'shortDate' }}
      </div>

      <!--<div class="statistic">
        <big count-to="{{ stats.average.cpm.value }}" value="0" duration="1" filter="number" params="2">></big>
        <span rank-badge rank="stats.average.cpm.rank"></span>
        <br>cancer points per message on average
      </div>-->

    </div>

  </div>

</section>
