<!-- Disabled until Twitch is available over https
<aside class="chat" ng-if="showChat">
  <iframe frameborder="0" scrolling="no" id="chat_embed" ng-src="{{ chat_url }}" height="400" width="100%"></iframe>
</aside>
-->

<section class="profile">
  <h1>
    <span>{{ profile.display_name }}</span>
    <!-- Disabled until Twitch is available over https
    <button class="btn chat" ng-click="showChat = !showChat">chat</button>
    -->
  </h1>

  <div class="row">

    <div class="logo col-lg-4 col-md-6 col-sm-12">
      <a ng-href="{{ profile.url }}" target="_blank" title="open stream in a new tab">
        <img ng-src="{{ profile.logo }}" width="300px" height="300px"></img>
      </a>
    </div>

    <div class="col-lg-8 col-md-6 col-sm-12">
      <quote tags="['channel', channelName]"></quote>

      <div class="statistic">
         <big>{{ profile.game }}</big> roleplayer
      </div>

      <div class="statistic">
        <big count-to="{{ profile.followers }}" value="0" duration="1" filter="number"></big>
        followers
      </div>

      <div class="statistic">
        <big count-to="{{ stats.all.total.duration.value / 60 / 60 }}" value="0" duration="1" filter="number"></big>
        hours <b tooltip="while in the top 100 streams list">recorded</b>
        since {{ stats.all.total.since | date }}
        <span rank-badge rank="stats.all.total.duration.rank"></span>
      </div>
    </div>

  </div>
</section>

<channel-stats stats="stats" metric="cancer" metric-name="cancer points" metric-title="Cancer King"></channel-stats>

<channel-stats stats="stats" metric="messages" metric-name="messages" metric-title="Spam King"></channel-stats>

<channel-stats stats="stats" metric="cpm" metric-name="cancer points per message" metric-title="Cancer Master"></channel-stats>
