
<section class="profile">
  <h1><span>{{ profile.display_name }}</span></h1>

  <div class="row">

    <div class="logo col-lg-4 col-md-6 col-sm-12">
      <a ng-href="{{ profile.url }}" target="_blank" title="open stream in a new tab">
        <img ng-src="{{ profile.logo }}" width="300px" height="300px"></img>
      </a>
    </div>

    <div class="col-lg-8 col-md-6 col-sm-12">
      <div class="statistic">
        <big count-to="{{ stats.all.total.duration.value / 60 / 60 }}" value="0" duration="1" filter="number"></big>
        hours <b tooltip="only streams from the top 100 and with more than 1000 viewers are monitored at any given time">recorded</b>
        since {{ stats.all.total.since | date }}
        <span rank-badge rank="stats.all.total.duration.rank"></span>
      </div>

      <div class="statistic">
        <big count-to="{{ profile.followers }}" value="0" duration="1" filter="number"></big>
        followers
      </div>

      <div class="statistic">
         <big>{{ profile.game }}</big> roleplayer
      </div>
    </div>

  </div>
</section>

<channel-stats stats="stats" metric="cancer" metric-name="cancer points" metric-title="Cancer King"></channel-stats>

<channel-stats stats="stats" metric="messages" metric-name="messages" metric-title="Spam King"></channel-stats>

<channel-stats stats="stats" metric="cpm" metric-name="cancer points per message" metric-title="Cancer Master"></channel-stats>
