<section id="cure">
  <h1>
    <span><a href="https://github.com/Benzhaomin/WorseTTV">Twitch No Cancerino</a></span>

    <div class="pull-right">
      -------->
      <a class="btn btn-danger" target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/twitch-no-cancerino/?src=twitchcancerexplore">Firefox Store</a>
      <a class="btn btn-primary" target="_blank" href="https://chrome.google.com/webstore/detail/twitch-no-cancerino/keojkpedpfobepecfbdimdcaibpacdfi">Chrome Store</a>
    </div>
  </h1>

  <div class="row">
    <div class="col-lg-6">
      <h4>
        A simple browser extension that removes emoticons and hides cancer messages in Twitch's chat.
      </h4>
      <br>

      <quote tags="['about', 'extension']"></quote>

      <h2><span>Usage</span></h2>

      <p>
        Once installed, right-click inside the chatbox and toggle cancer off.
      </p>

      <p>
        Bad quality messages have their text turned partly
        transparent to help you read good quality messages easily and ignore bad ones.
      </p>

      <p>
        Chat messages from regular Twitch users (plebs) are checked for
        signs of bad quality posting like repeated words, lots of capital letters,
        lots of emotes, a high ressemblance to other long messages (copy-pasta), and more.
      </p>

      <p>
        This only affects the current chat and resets to off when leaving or refreshing the page.
      </p>

      <h2><span>Questions</span></h2>

      <dl>
        <dt>I see empty messages from subs</dt>
        <dd>All emoticons are removed but we also always let sub messages through which can lead to empty messages.<br>
          A workaround is to install a user-side CSS extension add a rule like: <br>
          <code>
            .sane img {
              display: block !important;
            }
          </code>
        </dd>
    </div>

    <div class="col-lg-6">
      <img src="/images/nocancerino.gif" width="100%"/>
      <br>
      <br>

      <div class="col-lg-6" style="text-align: center">
        <b>Cancer chat</b>
      </div>
      <div class="col-lg-6" style="text-align: center">
        <b>No Cancerino chat</b>
      </div>
    </div>
  </div>
</section>
