
<section id="cancer-leaders">
  <h1>Cancer King <small>win the most <b>cancer</b> <b>points</b></small></h1>

  <div class="row">
    <div class="top10 total">
      <h3 tooltip="since August 25st 2015">total</h3>
      <leaderboard board-data="leaderboards.cancer.total"></leaderboard>
    </div>
  </div>

  <div class="row">
    <div class="top10 minute">
      <h3 tooltip="in a single minute">burst</h3>
      <leaderboard board-data="leaderboards.cancer.minute"></leaderboard>
    </div>
  </div>

  <div class="row">
    <div class="top10 average">
      <h3 tooltip="since August 25st 2015">average</h3>
      <leaderboard board-data="leaderboards.cancer.average"></leaderboard>
    </div>
  </div>
</section>

<section id="spam-leaders">
  <h1>Spam King <small>get the highest <b>number</b> <b>of</b> <b>messages</b></small></h1>

  <div class="row">
    <div class="top10 total">
      <h3 tooltip="since August 25st 2015" tooltip-position="right">total</h3>
      <leaderboard board-data="leaderboards.messages.total"></leaderboard>
    </div>
  </div>

  <div class="row">
    <div class="top10 minute">
      <h3 tooltip="in a single minute">burst</h3>
      <leaderboard board-data="leaderboards.messages.minute"></leaderboard>
    </div>
  </div>

  <div class="row">
    <div class="top10 average">
      <h3 tooltip="since August 25st 2015">average</h3>
      <leaderboard board-data="leaderboards.messages.average"></leaderboard>
    </div>
  </div>
</section>

<section id="cpm-leaders">
  <h1>Cancer Master <small>get the most <b>cancer</b> <b>per</b> <b>message</b></small></h1>

  <div class="row">
    <div class="top10 total">
      <h3 tooltip="since August 25st 2015">total</h3>
      <leaderboard board-data="leaderboards.cpm.total" decimals="2"></leaderboard>
    </div>
  </div>

  <div class="row">
    <div class="top10 minute">
      <h3 tooltip="in a single minute">burst</h3>
      <leaderboard board-data="leaderboards.cpm.minute" decimals="2"></leaderboard>
    </div>
  </div>

  <!--<div class="row">
    <div class="top10 average">
      <h3 tooltip="since August 25st 2015">average</h3>
      <leaderboard board-data="leaderboards.cpm.average"></leaderboard>
    </div>
  </div>-->

</section>
