
<section id="leaderboard-horizon" ng-controller="LeaderboardHorizonController">
  <div class="horizon-switcher">
    <ul>
      <li ng-class="{ active: isActive('daily') }"><a href="#/leaderboards/daily" title="today's best">Daily</a></li>
      <li ng-class="{ active: isActive('monthly') }"><a href="#/leaderboards/monthly" title="best of this month">Monthly</a></li>
      <li ng-class="{ active: isActive('all') }"><a href="#/leaderboards/all"title="all-time best">All-time</a></li>
    </ul>
  </div>

  <h1><span ng-bind-html="leaderboardHorizon | horizon"></span></h1>
</section>

<section id="cancer-leaders">
  <h2>
    <span>Cancer King <small>win the most <b>cancer</b> <b>points</b></small></span>
  </h2>

  <div class="row">
    <div class="top10 col-lg-12 total">
      <h3>
        <a ng-href="#/leaderboard/cancer.total/{{ leaderboardHorizon }}" title="view the full leaderboard">total</a>
      </h3>
      <leaderboard board-data="leaderboards[leaderboardHorizon+'.cancer.total']" decimals="0"></leaderboard>
    </div>
  </div>

  <div class="row">
    <div class="top10 col-lg-12 minute">
      <h3 tooltip="in a single minute" tooltip-placement="left">
        <a ng-href="#/leaderboard/cancer.minute/{{ leaderboardHorizon }}" title="view the full leaderboard">burst</a>
      </h3>
      <leaderboard board-data="leaderboards[leaderboardHorizon+'.cancer.minute']" decimals="0"></leaderboard>
    </div>
  </div>

  <div class="row">
    <div class="top10 col-lg-12 average">
      <h3>
        <a ng-href="#/leaderboard/cancer.average/{{ leaderboardHorizon }}" title="view the full leaderboard">average</a>
      </h3>
      <leaderboard board-data="leaderboards[leaderboardHorizon+'.cancer.average']" decimals="0"></leaderboard>
    </div>
  </div>
</section>

<section id="spam-leaders">
  <h2>
    <span>Spam King <small>get the highest <b>number</b> <b>of</b> <b>messages</b></small></span>
  </h2>

  <div class="row">
    <div class="top10 col-lg-12 total">
      <h3>
        <a ng-href="#/leaderboard/messages.total/{{ leaderboardHorizon }}" title="view the full leaderboard">total</a>
      </h3>
      <leaderboard board-data="leaderboards[leaderboardHorizon+'.messages.total']" decimals="0"></leaderboard>
    </div>
  </div>

  <div class="row">
    <div class="top10 col-lg-12 minute">
      <h3 tooltip="in a single minute" tooltip-placement="left">
        <a ng-href="#/leaderboard/messages.minute/{{ leaderboardHorizon }}" title="view the full leaderboard">burst</a>
      </h3>
      <leaderboard board-data="leaderboards[leaderboardHorizon+'.messages.minute']" decimals="0"></leaderboard>
    </div>
  </div>

  <div class="row">
    <div class="top10 col-lg-12 average">
      <h3>
        <a ng-href="#/leaderboard/messages.average/{{ leaderboardHorizon }}" title="view the full leaderboard">average</a>
      </h3>
      <leaderboard board-data="leaderboards[leaderboardHorizon+'.messages.average']" decimals="0"></leaderboard>
    </div>
  </div>
</section>

<section id="cpm-leaders">
  <h2>
    <span>Cancer Master <small>get the most <b>cancer</b> <b>per</b> <b>message</b></small></span>
  </h2>

  <div class="row">
    <div class="top10 col-lg-12 total">
      <h3>
        <a ng-href="#/leaderboard/cpm.total/{{ leaderboardHorizon }}" title="view the full leaderboard">total</a>
      </h3>
      <leaderboard board-data="leaderboards[leaderboardHorizon+'.cpm.total']" decimals="2"></leaderboard>
    </div>
  </div>

  <div class="row">
    <div class="top10 col-lg-12 minute">
      <h3 tooltip="in a single minute" tooltip-placement="left">
        <a ng-href="#/leaderboard/cpm.minute/{{ leaderboardHorizon }}" title="view the full leaderboard">burst</a>
      </h3>
      <leaderboard board-data="leaderboards[leaderboardHorizon+'.cpm.minute']" decimals="2"></leaderboard>
    </div>
  </div>

  <!--<div class="row">
    <div class="top10 col-lg-12 average">
      <h3 tooltip="since August 25th 2015">average</h3>
      <leaderboard board-data="leaderboards.cpm.average"></leaderboard>
    </div>
  </div>-->

</section>
