<blockquote>
  Twitch chat is the source of ebola, aids, cancer, and all participants generally behave on par with somebody with a severe case of autism.
  <br><br>
  -- <a target="_blank" href="http://www.urbandictionary.com/define.php?term=twitch+chat">The Urban Dictionnary</a>
</blockquote>

<section id="cancer-champions">

  <h1>
    <span>Cancer King <small>cancer points during the last 60 seconds</small></span>
  </h1>

  <div class="row">
    <div class="col-lg-12">

      <div class="pull-left">
        <strong>Cancer points</strong> are based on:
        <ul>
          <li>message length</li>
          <li>caps count and ratio</li>
          <li>emotes count and ratio</li>
          <li>copy-pasta level</li>
        </ul>
      </div>
      <bubbles-chart chart-data="live" chart-field="cancer"></bubbles-chart>
    </div>
  </div>
</section>

<section id="spam-champions">
  <h1><span>Spam King <small>message count during the last 60 seconds</small></span></h1>

  <div class="row">
    <div class="col-lg-12">
      <bubbles-chart chart-data="live" chart-field="messages"></bubbles-chart>
    </div>
  </div>
</section>

<div style="margin-top: 1000px; text-align: center;">
  <a href="http://murugo.deviantart.com/art/Kappa-307004551" target="_blank" title="Kappa by Murugo @ DeviantArt" style="outline: 0 none;">
    <img ng-src="images/kappa_by_murugo.jpg">
  </a>
</div>
