
<section id="cancer-champions">

  <h1>
    <span popover-trigger="mouseenter" popover-template="cancerPopover.templateUrl" popover-placement="bottom">Chat Cancer Champions</span>
  </h1>

  <script type="text/ng-template" id="cancer-info-popover.html">
    <p>
      <strong>Cancer points</strong> are awarded for each message sent in a chat depending on:
      <ul>
        <li>message length</li>
        <li>caps count</li>
        <li>caps to lowercase ratio</li>
        <li>emotes count</li>
        <li>emotes to text ratio</li>
        <li>copy-pasta level</li>
      </ul>
     </p>
  </script>

  <div class="row">
    <div class="col-lg-12">
      <bubbles-chart chart-data="live" chart-field="cancer"></bubbles-chart>
    </div>
  </div>
</section>

<section id="spam-champions">
  <h1><span>Chat Spam Champions</span></h1>

  <div class="row">
    <div class="col-lg-12">
      <bubbles-chart chart-data="live" chart-field="messages"></bubbles-chart>
    </div>
  </div>
</section>

<div style="margin-top: 1000px; text-align: center;">
  <a href="http://murugo.deviantart.com/art/Kappa-307004551" target="_blank" title="Kappa by Murugo @ DeviantArt" style="outline: 0 none;">
    <img ng-src="images/kappa_by_murugo.jpg">
  </a>
</div>
